.news {
    padding:  0 0 50px; 

    @media (min-width: $sm) {
        padding: 50px 0 80px;
    }

    @media (min-width: $lg) {
        padding: 75px 0 100px;
    }

    @media (min-width: $xl) {
        padding: 66px 0 120px;
    }

    &-heading {
        margin-bottom: 40px;

        .news-title {
            font-family: $manrope;
            font-weight: $fw400;
            font-size: $fs32px; 
            line-height: $lh72px;
            color: $black;  
            text-align: center; 

            @media (min-width: $sm) {
                font-size: $fs48px;
            }

            @media (min-width: $xl) {
                text-align: left;
            }
        }
    }
   
    &-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 -25px;
    }

    &-card {
        display: flex; 
        width: calc(100% / 1);
        padding: 0 25px;
        margin-bottom: 40px; 

        @media (min-width: $md) {
            width: calc(100% / 2);
            margin-bottom: 78px;           
        }

        @media (min-width: $lg) {
            width: calc(100% / 3);
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center; 

            @media (min-width: $xl) {
                align-items: flex-start;
            }
            
            &-img {
                width: 100%;
                height: auto;
                margin-bottom: 19px;

                @media (min-width: $xs) {
                    width: 70%;
                }

                @media (min-width: $sm) {
                    width: 75%;
                }

                @media (min-width: $md) {
                    width: 60%;
                }

                @media (min-width: $lg) {
                    width: 100%;
                }

                & img {
                    width: 100%;
                    height: auto;
                }
            }

            &-date {
                font-family: $openSans;
                font-weight: $fw700;
                font-size: $fs16px;
                line-height: $lh28px;
                color: $dark;
                margin-bottom: 13px;

                & span {
                    color: $grey;
                    padding-left: 6px;
                }
            }

            &-text {
                height: 100%;
                font-family: $openSans;
                font-weight: $fw400;
                font-size: $fs16px; 
                line-height: $lh32px;
                color: $black;
                text-align: center;
                margin-bottom: 21px;

                @media (min-width: $xl) {
                    font-size: $fs20px;
                    text-align: left;
                }
            }

            &-footer {
                display: flex;
                flex-wrap: wrap;

                &-ico {
                    padding-right: 12px;
                }

                &-name {
                    font-family: $openSans;
                    font-weight: $fw400;
                    font-size: $fs14px; 
                    line-height: $lh28px;
                    color: $black;

                    @media (min-width: $sm) {
                        font-size: $fs16px;
                    }
                }
            }
        }
    }
    
    .news-button {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 10px;

        .news-btn {
            color: $dark;
            transition: $tr;
        }

        .button.lg {
            &:hover, &:hover .news-btn {
                border-color: $accent;
                color: $accent;
            }
        }
      
        @media (min-width: $lg) {
            margin-top: 14px;
        }
    }
}