.word {
	padding: 171px 0 30px;

	&-heading {
		margin-bottom: 30px;
		text-align: center;

		@media (min-width: $lg) {
			margin-bottom: 68px;
		}

		.word-subtitle {
			font-family: $openSans;
			font-weight: $fw400;
			font-size: $fs20px;
			line-height: $lh32px;	
			color: $dark;	
			margin-bottom: 12px;	
		}

		.word-title {
			font-family: $manrope;
			font-weight: $fw400;
			font-size: $fs32px; 
			line-height: $lh48px; 
			color: $dark;

			@media (min-width: $md) {
				font-size: $fs48px;
				line-height: $lh84px;
			}

			@media (min-width: $lg) {
				font-size: $fs64px;
				line-height: $lh84px;
			}
		}
	}

   .word-item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid $dark;
	padding-bottom: 20px; 

	@media (min-width: $lg) {
		padding-bottom: 70px;
	}

		&-img {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-bottom: 25px; 

			@media (min-width: $lg) {
				width: 40%;
				margin-bottom: 0;
				justify-content: flex-start;
			}

			@media (min-width: $xl) {
				width: 46%;
			}

			img {
				width: 100%;
				height: auto;

				@media (min-width: $sm) {
					width: 70%;
				}

				@media (min-width: $lg) {
					width: 100%;
				}
			}
		}
	}

	.word-box {
		display: flex;
		flex-direction: column;
		width: 100%; 
		text-align: center;
		justify-content: center;

		@media (min-width: $lg) {
			width: 60%;
			padding-left: 7%;
			text-align: left;
		}

		@media (min-width: $xl) {
			width: 54%;
		}

		@media (min-width: $xxl) {
			padding: 0% 0 0 8%;
		}

		.box-date {
			font-family: $openSans;
			font-weight: $fw400;
			font-size: $fs16px;
			line-height: $lh28px;
			color: $grey;
			margin-bottom: 12px;

			span {
				font-family: $openSans;
				font-weight: $fw700;
				font-size: $fs16px;
				line-height: $lh28px;
				color: $dark;		
				margin-right: 11px;		
			}
		}

		.box-text {
			font-family: $manrope;
			font-weight: $fw400;
			font-size: $fs24px; //32
			line-height: $lh48px; 
			color: $black;	
			margin-bottom: 20px;	
			
			@media (min-width: $md) {
				font-size: $fs32px;
			}

			@media (min-width: $xl) {
				font-size: $fs48px;
				line-height: $lh72px;
			}
		}

		.box-name {
			display: flex;
			justify-content: center;

			@media (min-width: $lg) {
				justify-content: flex-start;
			}

			&-img {
				margin-right: 12px;
			}

			.box-author {
				font-family: $openSans;
				font-weight: $fw400;
				font-size: $fs16px;
				line-height: $lh28px;
				color: $black;
			}
		}
   }
}