.blog {
	padding: 50px 0 50px; 

	@media (min-width: $md) {
		padding: 75px 0 75px;
	}

	@media (min-width: $xl) {
		padding: 120px 0 103px;
	}

	&-img {
		margin: 0 auto;
		width: 100%;
		
		
		& img {
			width: 100%;
			height: auto; 
		}
	}

	&-heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 25px; 

		@media (min-width: $md) {
			margin-top: 50px;
		}

		@media (min-width: $xl) {
			align-items: unset;
			flex-direction: row;
		}

		&-header {
			width: 100%; 
			font-family: $manrope;
			font-weight: $fw400;
			font-size: $fs20px;
			line-height: $lh32px;
			text-align: center;
			margin-bottom: 50px;

			@media (min-width: $md) {
				font-size: $fs24px;
			}

			@media (min-width: $lg) {
				font-size: $fs36px;
			}

			@media (min-width: $xl) {
				width: 50%;
				font-size: $fs36px;
				line-height: $lh56px;
				text-align: left;
				margin-right: 100px;
			}
		}

		&-dropdown {
			width: 66%; 
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			
			@media (min-width: $md) {
				width: 50%;
				padding-top: 5px;
			}

			.dropdown-question {
				display: flex;
				flex-direction: column;
				cursor: pointer;

				&.hide {
					.dropdown-question-ico {
						transform: rotate(0);
					}

					.dropdown-open {
						display: none;
					}
				}

				&-text {
					position: relative;
					font-family: $openSans;
					font-weight: $fw400;
					font-size: $fs16px;
					line-height: $lh32px;
					color: $black;
					margin-bottom: 53px;

					&::after {
						content: "";
 						width: 100%;
						height: 1px;
						background: #c4c4c4;
						position: absolute;
						top: 100px;
						right: 0;

						@media (min-width: $xs) {
							top: 80px;
						}

						@media (min-width: $sm) {
							top: 40px;
						}

						@media (min-width: $md) {
							top: 70px;
						}

						@media (min-width: $lg) {
							top: 50px;
						}
					}

					@media (min-width: $md) {
						font-size: $fs20px;
					}
				}

				.dropdown-open {
					display: block;
					font-family: $manrope;
					font-weight: $fw400;
					font-size: $fs16px;
					line-height: $lh32px;
					color: $black;
					padding-bottom: 20px;
				}

				@media (min-width: $md) {
					font-size: $fs20px;
				}

				&-ico {
					position: absolute;
					right: 40px;
					width: 28px;
					height: 28px;
					transition: 0.3s ease;
					transform: rotate(180deg);

					@media (min-width: $xl) {
						right: 20px;
					}

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}