.connect {
	padding-top: 120px;

	&-inner {
		display: flex; 
		flex-wrap: wrap; 
	}

	&-image {
		width: 100%; //45
		height: auto;

		@media (min-width: $md) {
			width: 60%;
			margin: 0 auto;
		}

		@media (min-width: $xl) {
			width: 45%;
			margin: 0;
		}
		
		& img {
			width: 100%; 
			height: auto;
		}
	}

	&-heading {
		width: 100%; 
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 63px 0 66px 0; 

		@media (min-width: $md) {
			width: 60%;
			margin: 0 auto;
		}

		 @media (min-width: $xl) {
			align-items: flex-start;
			width: 55%;
			padding: 63px 0 66px 12%;
		}

		@media (min-width: $xxl) {
		}
	}

	&-header {
		font-family: $manrope;
		font-weight: $fw400;
		font-size: $fs16px; 
		line-height: $lh32px; 
		color:	$black;
		margin-bottom: 40px;
		text-align: center; 

		@media (min-width: $md) {
			font-size: $fs24px;
			 line-height: $lh56px;
		}

		@media (min-width: $lg) {
			font-size: $fs36px;
		}

		@media (min-width: $xl) {
			text-align: left;
		}
	}

	&-list {
		margin-bottom: 30px;

		&-item {
			font-family: $openSans;
			font-weight: $fw400;
			font-size: $fs14px;  
			line-height: $lh36px;
			color: $black;
			margin-bottom: 24px;
			background: url(../../img/dest/we-connect/li.png) no-repeat;
			padding-left: 60px;

			@media (min-width: $md) {
				font-size: $fs16px;
			}

			@media (min-width: $lg) {
				font-size: $fs20px;
			}
		}

		&-button {
			display: flex;
			justify-content: center; 

			@media (min-width: $xl) {
				justify-content: flex-start;
			}

			.button.lg.dark {
				width: 210px;
				font-size: $fs16px;
				transition: $tr;

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}

.connect.reverse {
	padding-top: 80px;
	&.last {
		padding-bottom: 45px; 

		@media (min-width: $xl) {
			padding-bottom: 145px;
		}
	}

	& .connect{
		
		&-heading {
			width: 100%; 
			padding: 105px 0 0 0;

			@media (min-width: $md) {
				width: 60%;
				margin: 0 auto;
			}

			@media (min-width: $xl) {
				align-items: flex-start;
				width: 60%;
				padding: 105px 15% 66px 0;
			}
		}

		&-header {
			margin-bottom: 64px;
		}

		&-image {
			width: 100%; //40
			height: auto;

			@media (min-width: $md) {
				width: 60%;
				margin: 0 auto;
			}

			@media (min-width: $xl) {
				width: 40%;
				margin: 0;
			}
			
			& img {
				width: 100%; 
				height: auto;
			}
		}

		&-inner {
			display: flex;
			flex-direction: row-reverse;
		}
		
		&-items {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		&-item {
			display: flex;
			margin-bottom: 22px;
			align-items: center;
			padding: 20px 20px;
			background: $dark;
			border-radius: 8px;
			transition: all ease $tr;
			
			.connect-item-text {
				width: calc(100% - 28px);
				padding-left: 3%;
			}

			&-img {
				width: 28px;
				height: 28px;

				& svg path {
					stroke:	$white;
				}

				& img {
					width: 100%;
					height: 100%;
				}
			}
	
			&-text {
				font-family: $openSans;
				font-weight: $fw600;
				font-size: $fs16px;
				line-height: $lh28px;
				color: $white;
			}
		}
	}

	.connect-item-wrapp {
		cursor: pointer;

		.connect-item.active {
			background: none;

			.connect-item-text {
				color: $black;
			}

			.connect-item-img {
				
				& svg path {
					stroke: $dark;
				}
			}
		}
	}
}