.company-form{

	&-header {
	position: relative;
 	padding: 40px 0; 
	background: $dark;
	border-radius: 12px;
	overflow: hidden;

	@media (min-width: $xxl) {
		padding: 68px 20%;
	}

	   &::before {
		content: "";
		display: inline-block;
		height: 85vw;
		width: 85vw;
		border-radius: 50%;
		background-color: #1C3D5B;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(43%, -82%);
		}

		&-title {
			position: relative;
			font-family: $manrope;
			font-weight: $fw400;
			font-size: $fs20px;
			line-height: $lh32px;
			color: $white;
			text-align: center;
			margin-bottom: 47px;

			@media (min-width:$xl) {
				font-size: $fs48px;
				line-height: $lh72px;
			}
		}
		
		.header-form {
			position: relative;
			display: flex;
			flex-wrap: wrap; 
			justify-content: center;

			&-input {
				margin-bottom: 50px;
				
				@media (min-width:$md) {
					margin-right: 24px;
				}

				@media (min-width:$xl) {
					margin-bottom: 0;
				}
			}

			&-button {
				
				.button.lg {
					background: $accent;
					transition: all ease 0.35s;
					font-size: $fs14px;
					transition: $tr;
					padding: 8px 30px;
					border-radius: 56px;

					@media (min-width: $xs) {
						padding: 10px 35px;
					}

					@media (min-width: $md) {
						padding: 16px 40px;
						font-size: $fs16px;
					}

					@media (min-width: $xxl) {
						padding: 16px 58px;
					}

					&:hover {
						opacity: 0.7;
					}

					@media (min-width: $lg) {
						font-size: $fs20px;
					}

					&:hover {
						color: $dark;
					}
				}
			}
		}	
		
		.email {
			padding-left: 10%;
			width: 250px;
			height: 56px;
			border-radius: 240px;
			font-family: $openSans;
			font-weight: $fw400;
			font-size: $fs16px;
			line-height: $lh32px;
			color: $black;
			text-align: left;
			border: 0;

			@media (min-width: $xs) {
				width: 370px;
			}

			@media (min-width: $lg) {
				font-size: $fs20px;
			}
		}
	}
}