.hero-section {
	position: relative;
	width: 100%;
	padding-top: 154px;

	&-inner {
		width: 1200px;
		display: flex;
	}

	&-box {
		padding-top: 64px;
		width: 601px;
	}

	&-heading {
		font-family: $manrope;
		font-weight: 400;
		font-size: 48px;
		line-height: 72px;
		color: $black;
		padding-bottom: 16px;
	}

	&-text {
		font-family: $openSans;
		font-weight: 400;
		font-size: 16px;
		line-height: 28px;
		color: $grey;
		margin-bottom: 55px;
	}

	&-buttons {
		display: flex;
		align-items: left;
	}

	&::before {
		content: "";
		display: inline-block;
		width: 1293px;
		height: 1293px;
		border-radius: 50%;
		background-color: #F1F1F1;
		position: absolute;
		top: -789px;
		right: -695px;
	}

	&-media {
		padding-left: 105px;
		width: 494px;
	}
}

.brands {
	padding: 96px 0 82px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -28px;

	&-logo {
		width: calc(100% / 6);
		text-align: center;
		height: 42px;
		padding: 0 28px;
	}

	&-logo img {
		max-width: 100%;
	}
}