.management {
	padding-bottom: 60px;

	@media (min-width: $md) {
		padding-bottom: 120px;
	}
	
	&-button {
		display: flex;
		justify-content: center;
		transition: $tr;

		.button.lg:hover {
			border-color: $accent;
		}

		@media (min-width: $xl) {
			margin-top: 84px;
		}
	}
	
	&-header {
		&-subtitle {
			font-family: $openSans;
			font-weight: $fw400;
			font-size: $fs20px;
			line-height: $lh32px;
			color: $grey;
			text-align: center;
			margin-bottom: 12px;
		}

		&-title {
			font-family: $manrope;
			font-weight: $fw400;
			font-size: $fs32px;
			line-height: $lh72px;
			color: $black;
			text-align: center;
			margin-bottom: 79px;

			@media (min-width: $xl) {
				font-size: $fs48px;
			}
		}
	}

	&-cards {
		max-width: 940px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 0 -10px;

		&.margin {
			margin: 0 auto;
		}
	}

	&-card {
		display: flex; 
		width: calc(100% / 1);
		padding: 0 10px;
		margin-bottom: 80px;

		@media (min-width: $lg) {
			width: calc(100% / 3);
			margin-bottom: 0;
		}

		&-inner {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			
			&-img {
				width: 100%;
				height: auto;

				@media (min-width: $sm) {
					width: 80%;
				}

				@media (min-width: $md) {
					width: 60%;
				}

				@media (min-width: $lg) {
					width: 100%;
				}

				& img {
					width: 100%;
					height: auto;
				}
			}

			&-date {
				font-family: $openSans;
				font-weight: $fw700;
				font-size: $fs16px;
				line-height: $lh28px;
				color: $dark;
				margin: 24px 0 12px;

				& span {
					color: $grey;
					padding-left: 12px;
				}
			}

			&-text {
				font-family: $openSans;
				font-weight: $fw400;
				font-size: $fs20px;
				line-height: $lh32px;
				color: $black;
				text-align: left;
				margin-bottom: 20px;
			}

			&-footer {
				display: flex;
				flex-wrap: wrap;

				&-ico {
					padding-right: 12px;
				}
	
				&-name {
					font-family: $openSans;
					font-weight: $fw400;
					font-size: $fs16px;
					line-height: $lh28px;
					color: $black;
				}
			}
		}
	}
}