.services {
	background-color: $dark;
	padding: 30px 0 30px;

	@media (min-width: $lg) {
		padding: 50px 0 80px;
	}

	@media (min-width: $xxl) {
		padding: 85px 0 109px;
	}

	&-subtitle {
		font-family: $openSans;
		font-weight: $fw400;
		font-size: $fs16px;
		line-height: $lh32px;
		color: $light-grey;
		text-align: center;
		margin-bottom: 10px;

		@media (min-width: $md) {
			font-size: $fs20px;
		}

		@media (min-width: $lg) {
			text-align: center;
		}
	}

	&-title {
		font-family: $manrope;
		font-weight: $fw400;
		font-size: $fs24px;
		line-height: $lh32px;  // 72
		text-align: center;
		color: $white;
		margin-bottom: 32px; // 72

		@media (min-width: $md) {
			font-size: $fs36px;
		}

		@media (min-width: $lg) {
			font-size: $fs48px;
			text-align: center;
			margin-bottom: 70px;
			line-height: $lh72px;
		}
	}
}

.services-cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;

	@media (min-width: $xl) {
		margin: 0 -50px;
	}
}

.card {
	width: calc(100% / 1);
	padding: 20px; // 0 20p 30 0

	@media (min-width: $md) {
		width: calc(100% / 2);
	}

	@media (min-width: $lg) {
		width: calc(100% / 3);
		padding: 0 50px;
	}

	&:last-child {
		margin: 0 auto;  ////

		@media (min-width: $lg) {
			margin: 0;
		}
	}

	&-inner {
		display: flex;
		align-items: center;
		flex-direction: column;

		@media (min-width: $xl) {
			align-items: stretch;
		}
	}

	&-image {
		width: 80%; // 100

		@media (min-width: $sm) {
			width: 70%;
		}

		@media (min-width: $md) {
			width: 90%;
		}

		@media (min-width: $lg) {
			width: 100%;
		}

		& img {
			width: 100%;
			height: auto;
		}
	}

	&-text {
		font-family: $openSans;
		font-weight: $fw400;
		font-size: $fs24px;
		line-height: $lh36px;
		color: $white;
		margin: 20px 0 28px 0;
		text-align: center;

		@media (min-width: $xl) {
			text-align: left;
		}
	}

	&-link {
		font-size: $fs20px;

		& a {
			display: flex;
			align-items: center;
			font-family: $openSans;
			font-weight: $fw700;
			line-height: $lh36px;
			color: $white;
			transition: color ease 0.35s;

			& svg {
				margin-left: 15px;

				& path:hover {
					stroke: $accent;
				}
			}
		}

		& a:hover {
			content: "";
			color: $accent;
			cursor: pointer;
		}

		&.img {
			max-width: 24px;
			max-height: 24px;
		}

		& img {
			max-width: 100%;
			margin-left: 15px;
		}

		&-link:after {
			content: "";
			display: block;
			border-bottom: solid 1px;
			color: $white;
			width: 65%;
		}
	}
}