.connect {
	padding-top: 40px;

	@media (min-width: $md) {
		padding-top: 80px;
	}

	@media (min-width: $lg) {
		padding-top: 120px;
	}

	&-inner {
		display: flex; 
		flex-wrap: wrap; 
	}

	&-image {
		width: 100%; 
		height: auto;

		@media (min-width: $sm) {
			width: 70%;
			margin: 0 auto;
		}

		@media (min-width: $md) {
			width: 60%;
		}

		@media (min-width: $lg) {
			width: 50%;
		}

		@media (min-width: $xl) {
			width: 45%;
			margin: 0;
		}
		
		& img {
			width: 100%; 
			height: auto;
		}
	}

	&-heading {
		width: 100%; 
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 33px 0 33px 0; 

		@media (min-width: $md) {
			width: 60%;
			margin: 0 auto;
		}

		 @media (min-width: $xl) {
			align-items: flex-start;
			width: 55%;
			padding: 63px 0 66px 12%;
		}
	}

	&-header {
		font-family: $manrope;
		font-weight: $fw400;
		font-size: $fs16px; 
		line-height: $lh32px; 
		color:	$black;
		margin-bottom: 40px;
		text-align: center; 

		@media (min-width: $sm) {
			font-size: $fs20px;
			 line-height: $lh56px;
		}

		@media (min-width: $md) {
			font-size: $fs24px;
		}

		@media (min-width: $lg) {
			font-size: $fs36px;
		}

		@media (min-width: $xl) {
			text-align: left;
		}
	}

	&-list {
		margin-bottom: 15px; 

		@media (min-width: $xl) {
			margin-bottom: 30px;
		}

		&-item {
			font-family: $openSans;
			font-weight: $fw400;
			font-size: $fs12px;   
			line-height: $lh36px;  	
			color: $black;
			margin-bottom: 24px;
			background: url(../img/dest/we-connect/li.png) no-repeat;
			padding-left: 60px;

			@media (min-width: $sm) {
				font-size: $fs14px;
			}

			@media (min-width: $md) {
				font-size: $fs16px;
			}

			@media (min-width: $lg) {
				font-size: $fs20px;
			}
		}

		&-button {
			display: flex;
			justify-content: center; 

			.btn-con {
				color: $white;
			}

			@media (min-width: $xl) {
				justify-content: flex-start;
			}

			.button.lg.dark {
				width: 150px; 
				padding: 8px;
				font-size: $fs14px; 
				transition: $tr;

				@media (min-width: $lg) {
					width: 210px;
					font-size: $fs16px;
					padding: 16px 56px;
				}

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}

	&.reverse {
		padding-top: 20px; 

		@media (min-width: $xl) {
			padding-top: 80px;
		}

		&.last {
			padding-bottom: 20px; 

			@media (min-width: $lg) {
				padding-bottom: 45px;
			}

			@media (min-width: $xl) {
				padding-bottom: 145px;
			}
		}

		.connect-heading {
			width: 100%; 
			padding: 33px 0 0 0; 

			@media (min-width: $md) {
				width: 60%;
				margin: 0 auto;
			}

			@media (min-width: $xl) {
				align-items: flex-start;
				width: 60%;
				padding: 105px 15% 66px 0;
			}
		}

		.connect-header {
			margin-bottom: 44px; 

			@media (min-width: $xl) {
				margin-bottom: 60px;
			}
		}

		.connect-image {
			width: 100%; 
			height: auto;

			@media (min-width: $sm) {
				width: 70%;
				margin: 0 auto;
			}

			@media (min-width: $md) {
				width: 60%;
			}

			@media (min-width: $lg) {
				width: 50%;
			}

			@media (min-width: $xl) {
				width: 40%;
				margin: 0;
			}
			
			& img {
				width: 100%; 
				height: auto;
			}
		}

		.connect-inner {
			display: flex;
			flex-direction: row-reverse;
		}
			
		.connect-items {
			width: 100%;
			display: flex;
			flex-direction: column;

			.connect-item-wrapp {
				cursor: pointer; 
		
				&.active {
		
					.connect-item {
						background: $dark;
			
						&-text {
							color: $white;
						}
			
						&-img svg path {
							stroke: $white;
						}
					}
				}
			}

			.connect-item {
				display: flex;
				margin-bottom: 24px;
				align-items: center;
				padding: 10px 10px; 
				border-radius: 8px;
				transition: all ease $tr;

				@media (min-width: $sm) {
					padding: 20px 20px;
				}

				&-text {
					width: calc(100% - 28px);
					padding-left: 3%;
					font-family: $openSans;
					font-weight: $fw600;
					font-size: $fs12px; 
					line-height: $lh28px;
					color: $black;

					@media (min-width: $sm) {
						font-size: $fs14px;
					}

					@media (min-width: $lg) {
						font-size: $fs16px;
					}
				}
		
				&-img {
					width: 24px;
					height: 24px;

					& svg path {
						stroke:	$dark;
					}

					& img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}