.hero-section {
	position: relative;
	width: 100%;
	padding: 140px 0 20px; 

	@media (min-width: $lg) {
		padding: 154px 0 75px; 
	}

	&-inner {
		display: flex;
		flex-wrap: wrap;
	}

	&-box {
		max-width: 480px;
		margin: 0 auto;

		@media (min-width: $sm) { 
			max-width: 601px;
		}

		@media (min-width: $md) { 
			margin: 50px auto ;
		}

		@media (min-width: $xl) { 
			margin: 65px 0 120px;
		}
	}

	&-heading {
		font-family: $manrope;
		font-weight: $fw400;
		text-align: center;
		font-size: $fs32px;
		line-height: $lh36px;
		color: $black;
		margin-bottom: 16px;

		@media (min-width: $sm) { 
			font-size: $fs48px;
			line-height: $lh72px;
		}

		@media (min-width: $xl) { 
			text-align: left;
		}
	}

	&-text {
		font-family: $openSans;
		font-weight: $fw400;
		text-align: center;
		font-size: $fs16px;
		line-height: 28px;
		color: $grey;
		margin-bottom: 55px;

		@media (min-width: $xl) { 
			text-align: left;
		}
	}

	&-buttons {
		display: flex;
		justify-content: center;

		@media (min-width: $xl) { 
			justify-content: flex-start;
		}
	}

	.button {
		&.lg.dark {
			padding: 4px 12px;
			font-size: $fs14px;
			transition: $tr;

			& .btn-dark {
				color: $white;
			}

			&:hover {
				opacity: 0.8;
				border-color: $dark;
			}

			@media (min-width: $md) {
				font-size: $fs20px;
				padding: 4px 20px;
			}
			
			@media (min-width: $xl) {
				padding: 8px 55px;
				margin-right: 20px;
			}
		}

		&.lg {
			font-size: $fs14px;
			transition: $tr;
			padding: 4px 30px;
			
			& .bt-lg {
				color: $dark;
				transition: $tr;
			}

			&:hover, &:hover a {
				border-color: $accent;
				color: $accent;
			}

			@media (min-width: $md) {
				font-size: $fs20px;
				padding: 16px 56px;
			}
		}
	}

	&::before {
		content: "";
		display: inline-block;
		height: 100vw;
		width: 100vw;
		border-radius: 50%;
		background-color: #F1F1F1;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(56%, -62%);
		z-index: -1;
	}

	&-media {
		justify-content: center;
		padding-top: 40px;

		@media (min-width: $sm) { 
			margin: 0 auto;
		}

		@media (min-width: $lg) { 
			width: calc(100% - 601px);
			padding-left: 20px;
		}

		@media (min-width: $xl) {
			padding: 0; 
			padding-left: 105px;
		}

		& img {
			width: 100%;
			height: auto;
		}
	}
}

.brands {
	width: 100%;
	padding: 40px 0 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -28px;

	@media (min-width: $lg) { 
		padding: 60px 0 40px;
	}

	@media (min-width: $xl) {
		padding: 0; 
	}

	&.margin {
		margin: 0 auto;
	}

	&-logo {
		width: calc(100% / 2);
		text-align: center;
		padding: 0 28px;
		margin-bottom: 10px;
		@media (min-width: $sm) { 
			width: calc(100% / 3);
		}

		@media (min-width: $lg) { 
			width: calc(100% / 6);
		}
	}

	&-logo img {
		width: 100%;
		height: auto;
	}
}