.management {
	padding-bottom: 60px;

	@media (min-width: $md) {
		padding-bottom: 70px;
	}

	@media (min-width: $lg) {
		padding-bottom: 90px;
	}
	
	@media (min-width: $xl) {
		padding-bottom: 120px;
	}

	&-button {
		display: flex;
		justify-content: center;
		transition: $tr;

		& .load {
			color: $dark;
			transition: $tr;
		}

		.button.lg {
			padding: 12px 30px;
			font-size: $fs16px;

			@media (min-width: $md) {
				font-size: $fs20px;
				padding: 16px 56px;
			}
		}

		.button.lg:hover, .button.lg:hover .load {
			border-color: $accent;
			color: $accent;
		}

		@media (min-width: $xl) {
			margin-top: 80px;
		}
	}
	
	&-header {
		&-subtitle {
			font-family: $openSans;
			font-weight: $fw400;
			font-size: $fs14px; 
			line-height: $lh32px;
			color: $grey;
			text-align: center;
			margin-bottom: 12px;

			@media (min-width: $md) {
				font-size: $fs16px;
			}

			@media (min-width: $lg) {
				font-size: $fs20px;
			}
		}

		&-title {
			font-family: $manrope;
			font-weight: $fw400;
			font-size: $fs24px; 
			line-height: $lh32px; 
			color: $black;
			text-align: center;
			margin-bottom: 40px; 

			@media (min-width: $md) {
				font-size: $fs32px;
				line-height: $lh56px;
			}

			@media (min-width: $lg) {
				font-size: $fs48px;
				line-height: $lh72px;
			}

			@media (min-width: $xl) {
				margin-bottom: 80px;
			}
		}
	}

	&-cards {
		max-width: 940px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 0 -10px;

		&.margin {
			margin: 0 auto; 

			@media (min-width: $lg) {
				margin: 0 auto 40px auto;
			}
		}
	}

	&-card {
		display: flex; 
		width: calc(100% / 1);
		padding: 0 10px;
		margin-bottom: 40px;
		

		@media (min-width: $lg) {
			width: calc(100% / 3);
			margin-bottom: 0;
		}

		&-inner {
			display: flex;
			flex-direction: column;
			align-items: center; 
			margin: 0 auto; 

			@media (min-width: $xl) {
				align-items: flex-start;
			}
			
			&-img {
				width: 100%;
				height: auto;

				@media (min-width: $xs) {
					width: 70%;
				}

				@media (min-width: $sm) {
					width: 75%;
				}

				@media (min-width: $md) {
					width: 60%;
				}

				@media (min-width: $lg) {
					width: 100%;
				}

				& img {
					width: 100%;
					height: auto;
				}
			}

			&-date {
				font-family: $openSans;
				font-weight: $fw700;
				font-size: $fs16px;
				line-height: $lh28px;
				color: $dark;
				margin: 24px 0 12px;

				& span {
					color: $grey;
					padding-left: 12px;
				}
			}

			&-text {
				font-family: $openSans;
				font-weight: $fw400;
				font-size: $fs16px; 
				line-height: $lh32px;
				color: $black;
				text-align: center;
				margin-bottom: 20px;

				@media (min-width: $xl) {
					font-size: $fs20px;
					text-align: left;
				}
			}

			&-footer {
				display: flex;
				flex-wrap: wrap;

				&-ico {
					padding-right: 12px;
				}
	
				&-name {
					font-family: $openSans;
					font-weight: $fw400;
					font-size: $fs14px; 
					line-height: $lh28px;
					color: $black;

					@media (min-width: $sm) {
						font-size: $fs16px;
					}
				}
			}
		}
	}
}