// Colors

$accent: #65E4A3;
$turquoise: #4FE9A4;
$dark: #0A2640;
$white: #ffffff;
$black: #000000;
$grey: #777777;
$light-grey: #f1f1f1;

// Fonts

$openSans: 'Open Sans';
$manrope: 'Manrope';

// Font size

$fs12px: 12px;
$fs14px: 14px;
$fs16px: 16px;
$fs20px: 20px;
$fs24px: 24px;
$fs28px: 28px;
$fs32px: 32px;
$fs36px: 36px;
$fs48px: 48px;
$fs64px: 64px;
$fs96px: 96px;

// Font weight

$fw400: 400;
$fw600: 600;
$fw700: 700;

// Line height

$lh24px: 24px;
$lh28px: 28px;
$lh32px: 32px;
$lh36px: 36px;
$lh48px: 48px;
$lh56px: 56px;
$lh72px: 72px;
$lh84px: 84px;

// Media breakpoints
$xs: 480px;
$sm: 576px;
$md: 767px;
$lg: 992px;
$xl: 1240px;
$xxl: 1366px;

// Others

$tr: 0.35s; // transitions