.button {
    font-family: $openSans;
    font-weight: $fw700;
    font-size: $fs16px;
    line-height: $lh24px;
    border: 2px solid $dark;
    border-radius: 24px;
    color: $dark;
    padding: 8px 40px;
    background-color: transparent;
    cursor: pointer;
    transition:
    all ease 0.35s,
    transform ease 0.35s;

    &:hover {
        content: "";
        color: $accent;
    }

    &.button  {
        margin-right: 20px;
    }

    &.button:last-child  {
        margin-right: 0px;
    }

    &.lg {
        padding: 16px 56px;
        font-size: 20px;
        line-height: 28px;
        border-radius: 56px;
        transition: $tr;
        &.button:last-child {
            margin-right: 0;
        }

        &.dark {
            background-color: $dark;
            color: $white;
            transition: $tr;
            text-align: center;
        }

      
    }

}

.button.burg {
    font-family: $manrope;
    line-height: $lh24px;
    font-weight: $fw400;
    font-size: $fs14px;
    background-color: $accent;
    border: 2px solid $dark;
    border-radius: 12px;
    padding: 4px 6px;
    transition:  0.5s;
    color: $dark;

    &:hover {
        transform: rotate(360deg);
    }

}
    