.button {
    font-family: $openSans;
    font-weight: $fw700;
    font-size: $fs16px;
    line-height: $lh24px;
    border: 2px solid $dark;
    border-radius: 24px;
    color: $dark;
    padding: 8px 40px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        content: "";
        transition:
            color ease 0.35s,
            transform ease 0.35s;
        transform: scale(1.1);
        color: $accent;
    }

    &.button  {
        margin-right: 20px;
    }

    &.button:last-child  {
        margin-right: 0px;
    }

    &.lg {
        padding: 16px 56px;
        font-size: 20px;
        line-height: 28px;
        border-radius: 56px;

        @media (max-width: $lg) { 
            justify-content: center;
        }
    
        @media (max-width: $xs) { 
            padding: 12px 22px;
            line-height: $lh24px;
            font-size: $fs16px;
        }

        &.button:last-child {
            margin-right: 0;
        }

        &.dark {
            background-color: $dark;
            color: $white;

            @media (max-width: $lg) { 
                justify-content: center;
            }
        
            @media (max-width: $xs) { 
                padding: 12px 22px;
                line-height: $lh24px;
                font-size: $fs16px;
            }
        }

        &.dark:hover {
            color: $accent;
        }
    }
}
    