* {
    box-sizing: border-box
}

html,
body {
    margin: 0;
    padding: 0
}

body {
    min-width: 320px;
    background-color: #ffffff;
    font-size: 16px
}

li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

