.footer {
	padding-top: 40px; 

	@media (min-width: $xl) {
		padding-top: 125px;
	}

	&-wrapp {
		display: flex;
		flex-wrap: wrap; 
		justify-content: space-between;
		padding: 60px 0 60px;

		@media (min-width: $lg) {
			flex-wrap: nowrap;
		}
	}

	&-header {
		width: 100%; //27%
		display: flex;
		flex-direction: column;
		margin-bottom: 50px; 

		@media (min-width: $lg)
		 {
			width: 40%;
			margin-bottom: 0;
		}

		@media (min-width: $lg)
		 {
			width: 35%;
			margin-bottom: 0;
		}

		@media (min-width: $xxl)
		{
		   width: 27%;
		   margin-bottom: 0;
	   }
	}

	&-logo {
		margin-bottom: 35px;
		transition: $tr;
		text-align: center;

		@media (min-width: $lg) {
			text-align: left;
		}

		&:hover {
			opacity: 0.7;
		}
	}

	&-text, &-rights {
		font-family: $openSans;
		font-weight: $fw400;
		font-size: $fs16px;
		line-height: $lh28px;
		color: $grey;
		text-align: center;

		@media (min-width: $lg) {
			text-align: left;
		}
	}

	&-text {
		margin-bottom: 30px;

		@media (min-width: $lg) {
			margin-bottom: 65px;
		}
	}

	&-links {
		display: flex;
		flex-direction: column; 
		justify-content: center; 
		margin: 0 auto;

		@media (min-width: $lg) {
			flex-direction: row;
		}

		&-col {
			margin-right: 10%;
			margin-bottom: 20px;

			@media (min-width: $sm) {
				margin-right: 25%;
			}

			@media (min-width: $md) {
				margin-right: 40%;
			}

			&:last-child {
				 margin-right: 0;
			}
		}

		&-heading {
			font-family: $openSans;
			font-weight: $fw700;
			font-size: $fs16px; 
			line-height: $lh32px;
			color: $black;
			margin-bottom: 10px; 

			@media (min-width: $xs) {
				font-size: $fs20px;
			}

			@media (min-width: $lg) {
				margin-bottom: 40px;				
			}
		}

		&-link {
			text-align: center; 
			position: relative;
			margin-bottom: 10px; 

			@media (min-width: $lg) {
				margin-bottom: 32px;
				text-align: left;
			}
			
			&:last-child {
				margin-bottom: 0;
			}

			& a {
				font-family: $openSans;
				font-weight: $fw400;
				font-size: $fs16px; 
				line-height: $lh32px;
				color: $grey;
				transition: all ease 0.35s;

				@media (min-width: $sm) {
					font-size: $fs20px;
				}

				&:hover {
					opacity: 0.8;
					color: $accent;
				}
			}
		}
	}

	.footer-link-image {
		width: 72px;
		height: 30px;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(100%, 2%);
		transition: $tr;
		cursor: pointer;

		& img {
			width: 100%;
			height: auto;
		}

		@media(min-width: $xs) {
			transform: translate(83%, 4%);
		}

		@media(min-width: $sm) {
			transform: translate(110%, 8%);
		}

		@media(min-width: $md) {
			transform: translate(130%, 8%);
		}
		
		@media (min-width: $lg) {
			transform: translate(85%, 2%);
		}

		@media (min-width: $xl) {
			transform: translate(85%, 7%);
		}

		@media (min-width: $xxl) {
			transform: translate(85%, 5%);
		}

		&:hover {
			opacity: 0.7;
		}
	}
}