.container {
	position: relative;
}

.header {
	padding-top: 56px ;
	position: fixed;
	width: 100%;
	z-index: 10;
	transition: 
		background-color ease-out $tr, 
		padding ease-out $tr, 
		box-shadow ease-out $tr; 

	&.color {
		background: $accent;
	}

	&.scrolled {
		background-color: $white;
		box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05 );
		padding: 15px 0;
	}

	&-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&-logo {
		display: flex;
		
		img {
			height: 42px;
			width: auto;
		}

		a {
			transition: $tr;
		}

		a:hover {
			content: "";
			opacity: 0.75;
		}
	}

	&-nav {
		display: none;

		@media (min-width: $md) {
			display: flex;
		}

		&-wrapp {
			display: flex;

			&.opened {
				.burger-btn {

					span {
						background-color: transparent;

						&::after {
							transform: rotate(45deg);
							top: 10px;
						}
				
						&::before {
							transform: rotate(-45deg);
						}
					} 
				}

				.burger-menu {
					display: block;
				}
			}
		}
	}

	&-button {
		margin-left: 18px;
		transition: $tr;
		
		& a:hover {
			border-color: $accent;
		}

		&:last-child {
			margin-right: 6px;
		}
	}

	&.about {
		
		&.scrolled {
			background-color: $dark;
			padding: 15px 0;
		}

		.menu {
			
			&-item {
				transition: $tr;
			}

			a {
				color: $white;

				&:hover {
					color: $accent;
				}
			}
		}

		.header-button {
			
			.button {
				padding: 10px 42px;
				background-color: $white;
				border: 0;

				&:hover {
					color: $dark;
					background-color: $accent;
				}
			}
		}

		.burger-btn {
			
			span {
	
				&::before, &::after {
					background: $white;
				}
			}
		}
	
		.burger-btn.hide {
				
			span {
				background: $white;
	
				&::before, &::after {
					background: $white;
				}
			}
		}
	} 
}

.menu {
	display: flex;
	margin-left: auto;
	max-width: 420px;
	justify-content: flex-end;
		
	&-item {
		display: flex;
		flex-wrap: wrap;
		margin: 0 21px;
		
	}
			
	a {
		color: #0A2640;
		font-family: $openSans;
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		transition: color ease 0.35s;

		&:hover {
			color: $accent;
		}
	}
}

.burger-menu {
	display: none;
	padding: 40px;
	background: #dae6f1;
	border-radius: 12px;
	position: fixed;
	top: 125px;
	right: 30px;
	
	@media (min-width: $md) {
		display: none;
	}
	
	.burger-item {
		margin-bottom: 20px;

		&-link {
			font-family: $openSans;
			font-size: $fs16px;
			color: $dark;
			transition: color ease-in 0.35s;

			&:hover {
				color: $accent;
			}
		}
	}
}

.burger-btn {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	transition: $tr;

	&:hover {
		opacity: 0.7;	
	}

	@media (min-width: $md) {
		display: none;
	}

	span {
		background: $dark;
		width: 100%;
		height: 4px;
		position: absolute;
		top: 0;

		&::before, &::after {
			content: "";
			width: 100%;
			background: $dark;
			height: 4px;
			position: absolute;
			top: 10px;
		}

		&::after {
			top: 20px;
		}
	} 
}