.container {
	position: relative;
}

.header {
	padding-top: 56px ;
	position: fixed;
	width: 100%;
	z-index: 10;

	&-inner {
		width: 1200px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&-logo {
		height: 42px;

		img {
			height: 100%;
			width: auto;
		}
		a:hover {
			content: "";
			opacity: 0.75;
		}
	}

	&-nav {
		display: flex;
		max-width: 419px;
		margin-left: auto;
	}

	&-button {
		padding-left: 20px;
	}
}

.menu {
	display: flex;
	margin-left: auto;
	width: 420px;
	justify-content: flex-end;
		
	&-item {
		display: flex;
		flex-wrap: wrap;
		padding: 0 20px;
		
	}
			
	a {
		color: #0A2640;
		font-family: 'Open Sans';
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		transition: color ease 0.35s;

		&:hover {
			color: $accent;
		}
	}
}

<<<<<<< HEAD

=======
.background-circle {
	display: inline-block;
	width: 1293px;
	height: 1293px;
	border-radius: 50%;
	background-color: #F1F1F1;
	position: fixed;
	top: -728px;
	left: 727px;
	background-attachment: fixed;
	z-index: -1;
}
>>>>>>> f8b50ecbe866978f9f9791580ee30589ccaae1ed

	


